# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env

# ML artifacts
backend/data/
backend/saved_models/
*.h5
*.pt

# Jupyter
.ipynb_checkpoints/

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env

# OS
.DS_Store
Thumbs.db
